/* Estilo para a mensagem */
.message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.message.success {
  background-color: #4caf50;
  color: white;
}

.message.error {
  background-color: #f44336;
  color: white;
}

.message.info {
  background-color: #2196f3;
  color: white;
}

.message.warning {
  background-color: #ff9800;
  color: white;
}
