/* Estilo para a barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a0dad;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.navbarLogo img {
  width: 50px;
  margin-right: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li {
  cursor: pointer;
}

.navLinks li a {
  color: white;
  text-decoration: none;
}

.navLinks li:hover {
  text-decoration: underline;
}
